@import 'progress-bar';
@import 'theme-colors';
@import 'light-box';
@import 'lazy-load';

$theme-font: verdana, sans-serif;

body {
  font-family: $theme-font;
  background-color: white;
  margin: 0;
  padding: 0;
  h1, h2 {
      color: $themeColor-Dark
  }
}
